@model ByteBank.Forum.ViewModels.AccountResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trocar senha</h2>

@using (Html.BeginForm("ResetPassword", "Account"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <input type="submit" value="Alterar Senha" />
}