@model ByteBank.Forum.ViewModels.AccountTwoFactorVerificationViewModel

@{
    ViewBag.Title = "TwoFactorVerification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verificação de SMS</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.EditorForModel()

    <input type="submit" value="Enviar" />
}